<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Base de Provas</display-name>
    <description> Projeto Base de Provas </description>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>site.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AreaAluno</servlet-name>
        <servlet-class>site.AreaAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaAluno</servlet-name>
        <url-pattern>/AreaAluno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Prova</servlet-name>
        <servlet-class>site.Prova</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prova</servlet-name>
        <url-pattern>/Prova</url-pattern>
    </servlet-mapping>
</web-app>
